/* Box sizing rules */

html {
  box-sizing: border-box;
  font-size: 1vw;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove Default List Stylings */
li {
    list-style: none;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* BEGINNING OF STYLINGS */

:root {
    --ucla-blue: hsla(202, 66%, 39%, 1);
    --pearl: hsla(45, 41%, 90%, 0.8);
    --alice-blue: hsla(206, 47%, 94%, 1);
    --alice-blue-shadow: hsla(206, 17%, 54%, 1);
    --alice-blue-shadow-faded: hsla(206, 17%, 54%, 0.8);
    --rich-black: hsla(210, 30%, 11%, 1);
    --cinereous: hsla(21, 14%, 44%, 1);

    /* Animated hamburger variables */
    --bar-width: 24px;
    --bar-height: 4px;
    --hamburger-gap: 4px;
    --animation-timing: 500ms cubic-bezier(.32,.19,.71,.84);
}

body {
    font-size: clamp(14px, 1.4rem, 24px);
}

h3 {
    font-size: clamp(18px, 2rem, 32px);
}

h4 {
    font-size: clamp(16px, 1.7rem, 28px);
    padding-bottom: 0.5rem;
}

a {
    color: var(--alice-blue);
    text-decoration: none;
}

button {
    background: var(--ucla-blue);
    color: var(--alice-blue);
    box-shadow: 1px 1px 5px var(--alice-blue-shadow);
    border: none;
    border-radius: 2rem;
    padding: 0.5rem 2rem;
    min-width: 8rem;
    font-weight: 700;
    scale: 1.0;
    transition: scale 150ms ease-in-out,
                box-shadow 150ms ease-in-out;
}

button:hover,
button:focus-within {
    box-shadow: 1px 1px 10px var(--alice-blue-shadow);
    scale: 1.1;
}

img[id$="-icon"] {
    height: max(25px, 2rem);
    width: max(25px, 2rem);
}

#main-grid-layout {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    height: 100svh;
    transition: grid-template-columns var(--animation-timing);
}

#main-grid-layout.single-column {
    grid-template-columns: 0fr 1fr;
    transition: grid-template-columns var(--animation-timing);
}

#dashboard-header {
    position: relative;
    background: var(--alice-blue);
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr; 
    padding: 1rem;
    padding-top: 10px;
    padding-left: 55px;
    box-shadow: 0 0 5px var(--alice-blue-shadow);
}

.search-container {
    position: relative;
}

.profile-container {
    margin-left: 0.5rem;
    margin-top: 1rem;
}

#search-icon {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

#searchbar {
    position: relative;
    border: 2px solid black;
    border-radius: 9999px;
    height: 33px;
    font-size: 16px;
    padding: 0.5rem 1rem;
    width: max(100px, 40vw);
    background: var(--pearl);
    transition: width var(--animation-timing),
                color var(--animation-timing),
                background var(--animation-timing);
}

#searchbar.inactive {
    background: transparent;
    color: transparent;
    width: 33px;
}

#searchbar.inactive + #search-icon {
    background-image: url(./icons/search.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    content: "";
    z-index: 2;
    height: 23px;
    width: 23px;
    left: 4px;
    top: 4px;
    opacity: 1;
}

#searchbar-button {
    position: absolute;
    content: "";
    z-index: 3;
    height: 3.2rem;
    width: 3.2rem;
    cursor: pointer;
}

#searchbar-button.inactive {
    height: 3rem;
    width: 1.2rem;
    left: -8px;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    margin-right: 1rem;
}

#sidebar {
    position: fixed;
    z-index: 2;
    height: 100%;
    width: 16.67%;
    min-width: 150px;
    background: var(--ucla-blue);
    color: var(--alice-blue);
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    gap: min(24px, 3rem);
    font-size: clamp(16px, 1.4rem, 24px);
    box-shadow: 0 0 5px var(--alice-blue-shadow);
}

/* Animated Hamburger Menu */

#minimize-sidebar-button,
#minimize-sidebar {
    position: absolute;
    left: -5%;
    padding: 10px;
    transition: filter var(--animation-timing),
                left var(--animation-timing);
}

#minimize-sidebar {
    z-index: 3;
    top: 15px;
    filter: invert(100%);
}


#minimize-sidebar.disappear,
#scrolling-minimize-sidebar.disappear {
    opacity: 0;
    content-visibility: 0;
}

#scrolling-minimize-sidebar,
#scrolling-minimize-sidebar-button {
    position: fixed;
    left: 13.35%;
}

#scrolling-minimize-sidebar {
    top: 25px;
    z-index: 3;
    width: var(--bar-width);
    height: var(--bar-height);
    background: #fff;
    border-radius: 9999px;
}

#scrolling-minimize-sidebar-button {
    top: 2.8%;
    height: 1.5rem;
    width: 2.2rem;
    z-index: 4;
    background: transparent;
    cursor: pointer;
}

#minimize-sidebar-button {
    top: 3px;
    height: 3.2rem;
    width: 3.2rem;
    z-index: 4;
    background: transparent;
    cursor: pointer;
}

#hamburger-menu {
    position: relative;
}

#hamburger-menu::before,
#hamburger-menu::after,
#hamburger-menu {
    width: var(--bar-width);
    height: var(--bar-height);
    background: #000;
    border-radius: 9999px;
}

#hamburger-menu::before,
#hamburger-menu::after {
    content: "";
    position: absolute;
    transition: top var(--animation-timing);
}

#hamburger-menu::before {
    top: -10px;
}

#hamburger-menu::after {
    top: 10px;
}


#hamburger-menu.collapsed::before,
#hamburger-menu.collapsed::after {
    top: 0;
}

#sidebar {
    opacity: 1;
    content-visibility: visible;
    transition: opacity var(--animation-timing), 
                content-visibility var(--animation-timing);
}

#sidebar.invisible {
    opacity: 0;
    content-visibility: hidden;
    transition: opacity var(--animation-timing), 
                content-visibility var(--animation-timing);
}

#sidebar-title-container {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    padding-top: 40px;
    align-items: center;
    justify-content: center;
}

#dashboard-icon {
    height: max(24px, 3rem);
    width: max(24px, 3rem);
    filter: invert(100%);
}

#sidebar-title {
    font-size: clamp(18px, 2rem, 40px);
}

.sidebar-icon {
    height: max(22px, 2rem);
    width: max(22px, 2rem);
    filter: invert(100%);
}

#sidebar > ul {
    padding-left: 2rem;
    padding-right: 1rem;
    display: grid;
    gap: min(20px, 5svh);
}

#sidebar > ul > li {
    display: flex;
    gap: 1rem;
}

li > img {
    scale: 1.0;
    transition: scale 150ms ease-in;
}

li:hover > img,
li:focus-within > img {
    scale: 1.2;
}

li > a {
    text-shadow: none;
    transition: text-shadow 150ms ease-in,
                font-size 150ms ease-in;
}

li:hover > a,
li:focus-within > a {
    text-shadow: 0 0 2px var(--alice-blue-shadow);
    font-size: clamp(16px, 1.4rem, 28px);
}

#projects-outer-container {
    background: var(--pearl);
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: min-content 1fr;
    padding-top: 3rem;
}

#projects-title {
    margin-left: 2rem;
}

#trending-title {
    align-self: end;
}

#add-project-button {
    background-image: url(./icons/add.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 22px;
    width: 22px;
    cursor: pointer;
    scale: 1;
    transition: scale 150ms ease;
}

#add-project-button:hover,
#add-project-button:focus-within {
    scale: 1.2;
}

#projects-title-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#projects-inner-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    padding: 1rem 3rem 1rem 2rem;
    gap: 2rem;
}

#right-sidebar {
    display: grid;
    grid-template-rows: min-content min-content min-content;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 0;
}

#right-sidebar > *:nth-child(1) {
    margin-bottom: 2rem;
}

#right-sidebar > *:nth-child(2) {
    margin-bottom: 1rem;
}

#right-sidebar > [id$="container"],
.card {
    background: var(--alice-blue);
    box-shadow: 0 1px 5px var(--alice-blue-shadow);
    border-radius: 1rem;
    padding: 1rem;
}

.card-icon {
    height: max(20px, 2rem);
    width: max(20px, 2rem);
}

.card {
    box-shadow: -5px 0 0 var(--rich-black),
                0 1px 5px var(--alice-blue-shadow); 
    display: grid;
    grid-template-rows: min-content 3fr min-content;
}

.card *:not(:last-child) {
    margin-bottom: 15px;
}

.card > .project-icons {
    display: flex;
    gap: 1rem;
    justify-content: end;
}

.card > .project-icons > img {
    scale: 1;
    transition: scale 150ms ease;
    cursor: pointer;
}
.card > .project-icons > img:hover,
.card > .project-icons > img:focus-within {
    scale: 1.2;
}

.delete-project-button {
    cursor: pointer;
}

.announcement {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.announcement:first-child {
    margin-top: 1rem;
    padding-top: 1rem;
}

.announcement:not(:last-child) {
    border-bottom: 2px solid var(--alice-blue-shadow);
}

#announcements-container {
    max-height: fit-content;
}


#hi-there {
    font-size: clamp(16px, 1.4rem, 28px);
}

#small-username {
    font-size: clamp(18px, 1.2rem, 28px);
}

#large-username {
    font-size: clamp(22px, 1.6rem, 32px);
}

#create-project-modal,
#delete-project-modal {
    position: fixed;
    display: none;
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    background: transparent;
    opacity: 0;
    z-index: 1000;
}

#create-project-modal.active,
#delete-project-modal.active {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background: var(--alice-blue-shadow-faded);
    opacity: 1;
}

#create-project-modal-content {
    display: grid;
    background: var(--alice-blue);
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr 3fr 1fr;
    gap: 2rem;
    padding: 3rem;
    width: 70vw;
    height: auto;
    border-radius: 1rem;
}

#create-project-modal-content.fade {
    display: none;
}

.modal-title {
    grid-column: 1 / 7;
    text-align: center;
    margin-bottom: 1rem;
}

#create-project-modal-content > label {
    grid-column: 1 / 3;
}

#create-project-modal-content > input,
#create-project-modal-content > textarea {
    grid-column: 3 / 7;
}

#create-project-modal-content > input,
#create-project-modal-content > textarea,
#create-project-modal-content > label,
#create-project-modal-content > button {
    font-size: clamp(14px, 1.6rem, 18px);
}

#create-project-modal-content > textarea {
    resize: none;
}

#create-new-project-button {
    grid-column: 2 / 4;
}

#cancel-new-project-button {
    grid-column: 4 / 6;
}

#delete-project-modal-content {
    display: grid;
    background: var(--alice-blue);
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr min-content;
    gap: 2rem;
    padding: 3rem;
    width: 50vw;
    height: auto;
    border-radius: 1rem;
}

#delete-project-modal-content > button {
    font-size: clamp(14px, 1.6rem, 18px);
    max-height: 40px;
}

#confirm-delete-project-button {
    grid-column: 2 / 4;
}

#cancel-delete-project-button {
    grid-column: 4 / 6;
}
